.item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #8989f8, #ffffaa);

  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}
.item:hover {
  background: linear-gradient(90deg, #4f4fff, #ffff7c);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-size: 16px;
  color: #333;
}
